.fonte1{
    font-family: Roboto Mono, monospace !important;
}

.cor-fonte{
    color: #FEFDCD !important;
}
/*
.botao2{
    border-color: #7E4997 !important;
    background-color: antiquewhite !important;
    color: #7E4997 !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}

.botao1{
    border-color: #7E4997 !important;
    background-color:#F4A0BA !important;
    color: #7E4997 !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}*/