.fonte1{
    font-family: Roboto Mono, monospace !important;
}

.cor-fonte{
    color: #FEFDCD !important;
}

.botao-deletar{
    border-color: 1px #F4A0BA !important;
    background-color: #A0F2EE !important;
    color: #F4A0BA !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}

.botao-atualizar{
    border-color: 1px #FEFDCD  !important;
    background-color: #F4A0BA !important;
    color: #FEFDCD !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}