.textos{
    font-weight: bold !important;
    font-family: Roboto Mono, monospace !important;
    color: #7E4997 !important;
}

.textos2{
    font-weight: bold !important;
    font-family: Roboto Mono, monospace !important;
    color: #F19C9F !important;
    padding-top: 35% !important;
}

.textfield{
    border: 2px solid #FFE9C9 !important;
    background-color: #fff !important;
    font-family:Roboto Mono, monospace !important;
    border-radius: 10%;
}

.botao1{
    border-color: #7E4997 !important;
    background-color:#F19C9F !important;
    color: #7E4997 !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}

.imagem-login{
    background-image: url("../../assets/img/back-page-2.jpg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.imagem{
    background-image: url("../../assets/img/back-page-4.jpg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none !important;
}