.box1{
    background-color: #7DD7D8;
    height: 120px;
}

.texto1{
    color: #F4A0BA;
    font-family: Roboto Mono, monospace;
}

.redes{
    font-size: 60px !important;
    color: #F4A0BA;
}

.box2{
    background-color: #7DD7D8;
    height: 60px;
}

.texto2{
    color: #FEFDCD;
    font-family:Roboto Mono, monospace; 
}
