.caixa{
    background-color: #FEFDCD;
    width: 100vh;
    min-height: 100vh;
    padding-top: 3px;
}

@media only screen and ( max-width: 600px ){
    .caixa > img{
        margin-top: 15px;
        width: 170px;
        height:255px;
        margin-left: 30% ;    
    }
}

.imagem1{
    background-image: url("../../assets/img/page-2.jpg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.titulo{
    color: #F4A0BA !important;
    font-Weight: bold !important; 
    font-family:Roboto Mono, monospace !important;
    text-align: center;
}

/*@media only screen and ( max-width: 600px ){
    .titulo {
        font-size: 50% !important;
        text-align: center;
    
    }
}*/

.titulo2{
    color: #C1AFE3 !important;
    font-Weight: bold !important; 
    font-family:Roboto Mono, monospace !important;
    text-align: center;
}

.botao{
    border: 2px #FEFDCD !important;
    background-color: #F4A0BA !important;
    color: #FEFDCD !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.py-box1{
    padding-top: 150px;
}

.card1{
    width:220px;
    height:320px; 
    border-radius: 5%;
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.48);
}

.card2{
    width:220px;
    height:320px;  
    margin-left: 220px;
    border-radius: 5%;
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.48);
}

.card3{
    width:220px;
    height:320px; 
    margin-left: 220px;
    border-radius: 5%;
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.48);
}

.caixa2{
    background-color: #FFCEE3;
    width: 100vh;
    min-height: 100vh;
}

/*.boxcard{
    background-color: #C1AFE3;
    width: 33vh;
    height: 33vh;
}*/

