.titulo{
    color: aquamarine;
    text-align: center;
}

.imagem {
    background-image: url("../../assets/img/back-page-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
    background-size: cover;
}
.img{
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 675px;
}

.back-page{
    background-color: #FCCBDE;
}

.py-typography{
    padding-top: 150px;
}