.imagem-cadastro{
    background-image: url('../../assets/img/back-page-4.jpg');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.imagem-cadastro2{
    background-image: url('../../assets/img/back-page-2.jpg');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos3{
    font-weight: bold !important;
    font-family:Roboto Mono, monospace !important;
    color: #F19C9F !important;
    padding-top: 25%;
}

.botao2{
    border-color: #7E4997 !important;
    background-color: antiquewhite !important;
    color: #7E4997 !important;
    font-family:Roboto Mono, monospace !important;
    margin-top: 30px;
}

.btnCancelar{
    margin-right: 20px !important;
}

